@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47/*#2b6777*/;
    --color-base2: #022a30/*#c8d8e4*/;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

#img {
    width: 100%;
    position: relative;/* Declared position allows for location changes */
    top: -115px; /* Moves the image 2px closer to the top of the page */
}
#Mobile-v-img{
    /*display: none;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 50%;
    height:50%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: relative;/* Declared position allows for location changes */
    top: -10px; /* Moves the image 2px closer to the top of the page */
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    #Mobile-v-img{
        display: none;
    }
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

}

@media (max-width: 992px){
    .dropdown{
        display: none;
    }
    .dropbtn{
        display: none;
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

#iconlist {
    width: 0px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 45px;
}

#social-icons{
    font-size: 30px;
}

.dropbtn {
    background-color: var(--color-base2);
    color: var(--color-brand2);
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #eef3db;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:#b6cbce}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-base2);
}
